.admin-menu {
  display: flex;
  flex-flow:column nowrap;
  width: 100vw;
  height:100vh;
  justify-content:flex-start;
  align-items: center;
  margin-top:20vh;
  text-align: center;

  .admin-submenu-container{

    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    text-align: center;

    .admin-submenu {
      display: flex;
      flex-flow:column nowrap;
      justify-content:flex-start;
      align-items: center;
      padding:20px;
      margin: 20px 10px 20px 10px;

      .admin-subchoice {
        margin-top:20px;
      }
    }
  }

  h1 {
    font-size:3em;
  }

  h2{
    font-size:1.5em;
  }

  h3{
    font-size: 1.2em;
    padding:5px 0;
    color:#CCC;
    transition:color 0.3s ease, transform 0.3s ease;

    &:hover {
      color:white;
      transform:scale(1.1);
      transition:color 0.3s ease, transform 0.3s ease;
    }
  }
}


.admin-photo-container {
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
  justify-content:center;

  .admin-photo-menu{
    display: flex;

    h2{
      padding:20px;
      margin-top:30px;
      color:#CCC;
      transition:all 0.3s ease;
      font-size:1.2em;

      &:hover {
        color:white;
        transition:all 0.3s ease;
      }
    }
  }

  .edit-container {
    margin-top: 30px;
    //padding: 100px 200px;
    box-shadow: 0 0 200px 20px black inset;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #666;

    input[type='text'] {
      border-radius: 2px;
      border: 1px solid #777;
      padding:8px 20px 8px 15px;
      transition: all 0.4s ease;
      background-color: rgba(0,0,0,0.4);
      color: #CCC;
      font-size: 0.8em;

      &:focus {
        border: 1px solid #DDD;
        outline: none;
        background-color: rgba(0,0,0,0.8);
      }
    }

    input[type='file'] {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    i.delete-item {
      position: absolute;
      right: -30px;
      top: 9px;
      transition: all 0.2s ease;

      &:hover {
        color: #CC5555;
      }
    }

    label {
      color: #CCC;
      font-weight: 400;
      transition: all 0.2s ease;
      border: 1px solid #777;
      padding: 10px 14px;
      font-size: 0.8em;
      width: 150px;
      margin-left: 30px;

      &:hover {
        cursor: pointer;
        color: white;
        border: 1px solid #CCC;
        background-color: #000;
        transition: all 0.4s ease;
      }
    }

    .input-line {
      margin: 10px 100px;
      display:flex;
      justify-content: space-between;
      align-items:center;
      position: relative;

    }

    .cover-line {
      margin-bottom: 30px;
      margin-top: 70px;
    }

    input[type='submit'] {
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 2px;
      padding: 7px 20px;
      color: #DDD;
      font-size:0.7em;
      transition: all 0.3s ease-in;
      margin-top: 30px;
      margin-bottom: 50px;
      border: 1px solid #777;

      &:hover {
        box-shadow: 0px 1px 4px 1px #111;
        border: 1px solid #DDD;
      }
    }
  }

  .modify-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 60px 80px;
    width: 80vw;
    max-height: 59vh;
    overflow-y: scroll;

    .photo-cover-card {
      flex-grow: 1;
      max-width: 500px;
      width: 190px;
      height: 300px;
      background-color: rgba(0,0,0,0.2);
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border: 1px solid #888;
      transition: all 0.3s ease-out;
      position: relative;
      overflow-y: hidden;
      margin: 20px 20px;

      .delete-category {
        position: absolute;
        top: -50px;
        left: 10px;
        z-index: 5;
        text-shadow: 0 0 5px black;

        &:hover + .confirm-delete {
          opacity: 1;
          left: 30px;
        }
      }

      .confirm-delete {
        opacity: 0;
        z-index: 1;
        position: absolute;
        top: 11px;
        left: 10px;
        color: lawngreen;
        transition: all 0.3s ease-in;
        text-shadow: 0 0 5px black;

        &:hover {
          opacity: 1;
          left: 30px;
        }
      }

      .edit-category {
        position: absolute;
        top: -50px;
        right: 10px;
        z-index: 5;
        text-shadow: 0 0 5px black;
      }

      &:hover {
        border-color: white;
        background-color: inherit;

        & > .delete-category {
          animation: dropAndRed 0.5s linear forwards;
        }

        & > .edit-category {
          animation: dropAndBlue 0.5s linear forwards 0.2s;
        }
      }
    }
  }
}
