.admin-menu {
  display: flex;
  flex-flow:column nowrap;
  width: 100vw;
  height:100vh;
  justify-content:flex-start;
  align-items: center;
  margin-top:20vh;
  text-align: center;

  .admin-submenu-container{

    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    text-align: center;
  
    .admin-submenu {
      display: flex;
      flex-flow:column nowrap;
      justify-content:flex-start;
      align-items: center;
      padding:20px;
      margin: 20px 10px 20px 10px;

      .admin-subchoice {
        margin-top:20px;
      }
    }
  }

  h1 {
    font-size:3em;
  }

  h2{
    font-size:1.5em;
  }

  h3{
    font-size: 1.2em;
    padding:5px 0;
    color:#CCC;
    transition:color 0.3s ease, transform 0.3s ease;

    &:hover {
      color:white;
      transform:scale(1.1);
      transition:color 0.3s ease, transform 0.3s ease;
    }
  }
}


.admin-photo-container{
  display:flex;
  flex-flow:column nowrap;
  align-items: center;
  justify-content:center;

  .admin-photo-menu{
    display: flex;

    h2{
      padding:20px;
      margin-top:30px;
      color:#CCC;
      transition:all 0.3s ease;
      font-size:1.2em;

      &:hover {
        color:white;
        transition:all 0.3s ease;
      }
    }
  }

  .edit-container {
    margin-top:50px;
    display:flex;

    .gallery-inputs{
      display:flex;
      flex-flow:column nowrap;
      min-width:500px;
      padding:30px;

      input {
        margin-bottom:20px;
        padding:10px 0 10px 25px;
        box-shadow:0 0 10px 1px #111 ;
        border:none;
        font-size:0.8em;
        border-radius:2px;

        &:focus{
          outline:none;
          background-color:#333;
          color:white;
        }
      }

      button{
        padding:15px 10px;
        box-shadow:0 0 10px 1px #111 ;
        border:none;
        background-color: white;
        font-size:0.8em;
        border-radius:2px;

        &:focus{
          outline:none;
          background-color:#333;
          color:white;
        }
      }

      .image-inputs{
        display:flex;
        flex-flow:row wrap;
        justify-content:space-between;

        input{
          width:140px;
        }

        input:last-child {
          margin-left:auto;
        }

        button{
          padding:10px 10px;
          height:100%;
          box-shadow:0 0 10px 1px #111 ;
          border:none;
          background-color: white;
          font-size:0.8em;
          border-radius:2px;

          &:focus{
            outline:none;
            background-color:#333;
            color:white;
          }
        }

      }
    }
  }
}
