@import './reset.scss';
@import './transitions.scss';
@import './Commissioned.scss';
@import './carouselOverride.scss';

body{
  overflow-x:hidden;
}

* {
  font-family:sans-serif!important;
}

.navbar {
  color:white;
  background-color: rgba(0,0,0,0.5);
  height:4vh;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 20px;
  width:100vw;
  position:fixed;
  z-index:2;
  box-shadow:3px 0 6px #000;
}

.home-full-container {
  color:#DDD;
  text-shadow:0 0 15px #000;
  width:100vw;
  height: 100vh;
  background-image: url('../img/mainback3.jpg')!important;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  padding:50px 50px;
  font-size:1.1em;

  .menu-container{
    padding:200px 0;
    //box-shadow: 0 0 1600px 50px #000;
    display:flex;
    flex-flow:column wrap;
    align-items:center;
  }
}

.home-welcome-text{
  width:50vw;
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 4em;
    margin-bottom:40px;
  }
}


.pro-perso {
  display: flex;
  flex-flow:row wrap;
  justify-content:space-around;
  width: 40vw;
  margin:70px 0 0 0;

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    transition:all 0.2s ease;

    &:hover {
      transition:all 0.3s ease;
      transform: scale(1.1);
      color:white;
    }

  }

}