
.photo-menu {

  .sliderow {
    display: flex;
    margin-bottom:20px;
    flex-flow: row wrap;
    padding: 0 2%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    text-shadow: 0 0 3px #000;
    font-size: 1.2em;

    div {
      max-width: 700px;
      flex: 1 1 350px;
      color: white;
      min-height: 280px;
      box-shadow: 0 0 8px 1px #000;
      margin: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .photo-container {

      background-size: cover;
      background-position: center;
      background-color: rgba(0,0,0,0);
      font-size: 80%;
      transition: background-color 1s ease, font-size 1s ease;

      &:hover {
        background-color: rgba(0,0,0,0.5);
        background-blend-mode: darken;
        transition: background-color 0.5s ease, font-size 0.5s ease;
        font-size: 100%;
      }
    }
  }
}

.video-menu {

  .sliderow {
    display: flex;
    margin-bottom: 20px;
    flex-flow: row wrap;
    padding: 0 3%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    text-shadow: 0 0 3px #000;
    font-size: 1.2em;

    div {

      max-width: 600px;
      flex: 1 1 450px;
      color: white;
      margin: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      color:rgba(255,255,255,1);
      transition: all 0.5s ease;
      font-size:100%;

      &:hover {

        transition: all 0.5s ease;
        font-size: 90%;
        color: rgba(255,255,255,0);
        text-shadow: none;

      }
      
      p {
        position: absolute;
      }

      video {
        box-shadow:0 0 8px 1px #000;
      }
    }
  }
}


.photo-full-carousel {

  display:flex;
  justify-content:center;
  align-items: center;

  .sliderow {
    margin-bottom:20px;
    flex-flow: column nowrap;
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 20px 1% 40px 1%;
    height: 60vh;
    text-shadow: 0 0 3px #000;
    font-size: 1.2em;

    img {

      max-width:70vw;
      max-height:50vh;
      margin: auto 0 0 0;
      box-shadow:0 0 20px 0 #000;
    }
    h3{
      margin-top:auto;
    }

  }
}

.coverTitle {
  margin-top: 40px;
  font-size:1.5em;
}


.videoContainer{
  position: relative;
  top:-20px;

  .videoPlayer {
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    height:60vh;

    h2{
      margin:0px 0 40px 0;
      font-size:1.5em;
    }

    video{
      margin-bottom:auto;
      max-height:90%;
      max-width:90%;
      box-shadow:0 0 30px 1px #000;
    }

  }
}