@import './carouselOverride.scss';

.work-container{

  margin-top: 60px;
  height:95vh;
  display:flex;
  flex-flow:column nowrap;
  text-align: center;
  //background-image: url('../img/mainback4.jpg');
  box-shadow: 0 0 1600px 50px #000;
  overflow-wrap: break-word;


  h1{
    margin: 50px 0 0 0;
    font-size:3em;
    transition: color .5s ease-in-out;

    &:hover {
      color:white;
      transition: color .5s ease-in-out;
    }
  }

  .work-menu{
    display:flex;
    flex-flow:row wrap;
    width:20%;
    justify-content: center;
    margin:40px 0 40px 0;
    align-self:center;

    p{
      transition:all 0.2s ease;
      margin: 10px 60px 0 60px;

      &:hover {
        transition:all 0.3s ease;
        transform: scale(1.1);
        color:white;
      }

    }

  }
}