@import './carouselOverride.scss';

.work-container{

  margin-top: 30px;
  height:85vh;
  display:flex;
  flex-flow:column nowrap;
  text-align: center;
  box-shadow: 0 0 1600px 50px #000;

  h1{
    margin-top: 50px;
    font-size:3em;
  }

  .work-menu{
    display:flex;
    flex-flow:row wrap;
    width:20%;
    justify-content: center;
    margin:40px 0 20px 0;
    align-self:center;

    p{
      transition:all 0.2s ease;
      margin: 10px 60px 0 60px;

      &:hover {
        transition:all 0.3s ease;
        transform: scale(1.1);
        color:white;
      }

    }

  }
}