.fadeIn-appear {
  opacity: 0.01;
}

.fadeIn-appear.fadeIn-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeIn-leave {
  opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}



/* fadeFast */

.fadeFast-appear {
  opacity: 0.01;
}

.fadeFast-appear.fadeFast-appear-active {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.fadeFast-enter {
  opacity: 0.01;
}

.fadeFast-enter.fadeFast-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.fadeFast-leave {
  opacity: 1;
}

.fadeFast-leave.fadeFast-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}


/* Fold top */

.foldTop-appear {
  position:relative;
  top:-2000px;
}

.foldTop-appear.foldTop-appear-active {
  position:relative;
  top:0;
  transition: all 1s ease-in;
}

.foldTop-enter {
  position:relative;
  top: -2000px;
}

.foldTop-enter.foldTop-enter-active {
  position:relative;
  top:0;
  transition: all 500s ease-in;
}

.foldTop-leave {
  position:relative;
  top:0;
}

.foldTop-leave.foldTop-leave-active {
  position: relative;
  top:-2000px;
  transition: all 300ms ease-in;
}

/* Drop and turn red */

@keyframes dropAndRed {
  0% { top: -50px }
  40% { top: 10px }
  100% {
    top: 10px;
    color: #ff683e;
    transform: rotateX(-180deg);
  }
}

@keyframes dropAndBlue {
  0% { top: -50px }
  40% { top: 10px }
  100% {
    top: 10px;
    color: #00c3f5;
    transform: rotateX(-180deg);
  }
}